<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>project 3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Jiskefet <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mt-3">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"> sidebar</div>
            <div class="col-md-10 mx-auto">
                <div class="card shadow-sm bg-light">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Log</h3>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <div><button type="button" data-toggle="modal" data-target="#add-existing-run" class="btn btn-primary float-right">Link to run</button>
                                        <div tabindex="-1" role="dialog" id="add-existing-run" class="modal mt-5">
                                            <div role="document" class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Link to run</h5><button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><button class="btn btn-primary undefined undefined">Comment on this Log</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">facilisi cras non velit nec nisi vulputate nonummy maecenas tincidunt lacus at velit vivamus vel</h5>
                                </div>
                                <div class="col-md-6">
                                    <dl class="row" style="margin-block-end: 0px;"><dt class="col-sm-6">Log id</dt>
                                        <dd class="col-sm-6">538</dd>
                                    </dl>
                                    <dl class="row" style="margin-block-end: 0px;"><dt class="col-sm-6">Subtype</dt>
                                        <dd class="col-sm-6"><span class="badge badge-warning">run</span></dd>
                                    </dl>
                                    <dl class="row" style="margin-block-end: 0px;"><dt class="col-sm-6">Origin</dt>
                                        <dd class="col-sm-6"><span class="badge badge-primary">process</span></dd>
                                    </dl>
                                    <dl class="row" style="margin-block-end: 0px;"><dt class="col-sm-6">Creation time</dt>
                                        <dd class="col-sm-6">10:23:53 30/07/2019</dd>
                                    </dl>
                                    <dl class="row" style="margin-block-end: 0px;"><dt class="col-sm-6">Author</dt>
                                        <dd class="col-sm-6">5</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item"><a href="javascript:void(0);" class="nav-link false">Content</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" class="nav-link false">Runs</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" class="nav-link false">Files</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" class="nav-link active">Tags</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" class="nav-link false">Comments</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content false">
                                <div>
                                    <h3>Currently added tags:</h3>
                                    <ul></ul>
                                    <hr>
                                    <h3>Add a Tag to this log:</h3>
                                    <form>
                                        <div class="form-group undefined"><label for="tag">Select an existing tag:</label>
                                            <div class="field">
                                                <div class="card">
                                                    <div class="card-header">
                                                        Current tags
                                                    </div>
                                                    <div class="card-body">
                                                        <blockquote class="blockquote mb-0 tags-body">
                                                            <p>CURRENT ALL TAGS</p>
                                                            <button class="btn btn-primary">Test</button>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div><select id="tag" name="tag" required="" class="selectpicker form-control undefined">
                                                            <option value="">No options found</option>
                                                        </select></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group undefined"><label autofocus="autofocus" for="description">Add new tag:</label>
                                            <div class="field"><input id="tagText" type="text" autofocus="" class="form-control undefined"></div>
                                        </div>
                                        <div class="form-group undefined">
                                            <div class="field"><button type="submit" class="btn btn-primary undefined undefined">Add Tag</button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./client.js"></script>
</body>

</html>